@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html, body {
  overflow-x: hidden;
  background-color: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  height: 200vh;
  background-color: #111827;
  z-index: -1;
}

.hidden-mobile {
  display: none;
}

@media (min-width: 500px) {
  .hidden-mobile {
    display: flex;
  }
}